### OS-specific
.DS_Store

### Editors
*~
\#*\#
**/.vscode
.$*

### Byte-compiled files
__pycache__
*.pyc

### Build output
build
*.egg-info

### Reports
.coverage
.coverage.*
.hypothesis/
coverage.xml
*.cover

### Caches
.*[cC]ache*

### Snakemake
**/.snakemake/
gurobi.log

### Project-specific
.ipynb_checkpoints
out/
output/
tmp/
