# This CITATION.cff file was generated automatically.
# Visit https://bit.ly/cffinit to modify it.

cff-version: 1.2.0
title: 'Easy Energy Modules: {{module_name}}.'
message: >-
  If you use this software, please cite it using the
  metadata from this file.
type: software
authors:
  - given-names: {{author_name}}
    family-names: {{author_family_name}}
    email: {{author_email}}
    affiliation: {{author_affiliation}}
    orcid: 'https://orcid.org/{{orcid}}'
repository-code: >-
  https://github.com/calliope-project/ec_modules/commits/main/modules/biofuels
url: 'https://ec-modules.readthedocs.io/'
abstract: >-
  {{module_description}}
license: MIT
