# Easy Energy Modules - {{module_name}}

{{module_description}}

## Input-Output

Here is a brief IO diagram of the module's operation.

```mermaid
---
title: {{module_name}}
---
flowchart LR
    D1[("`**Databases**
        database1
        ...
    `")] --> |Download| M
    C1[/"`**User input**
        shapefile.geojson
        ...
    `"/] --> M(({{module_name}}))
    M --> O1("`**File type (e.g. Timeseries)**
        output1.csv
        `")
    M --> O2("`**File type (e.g. Energy potential)**
        output2.nc
        `")
```

## DAG

Here is a brief example of the module's steps.

![DAG](rulegraph.png)

## Citation

## References
